<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<form id="loginForm">
    <label>账号：</label>
    <input type="text" name="user">
    <label>密码：</label>
    <input type="password" name="pwd">
    <button type="button" id="btn">登录</button>
</form>
<p style="color: red" id="err_msg">你已经登录，请先退出！</p>

</body>
<script>
    $("#btn").click(function () {
        $.post("toLogin?",$("#loginForm").serialize(),function(res){
            if (res.flag){
                console.log(res);
                location.href = "main";
            } else {
                console.log(res);
                $("#err_msg").html(res.message);
            }
        },"json");
    })
</script>
</html>